<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'own_css/bookstyle.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  </head>
  <body style="background-color: #f7f9fc;">
    <div id="header">
      <div class="sidebar">
        <a href="http://localhost:8000/books/home">Dashboard</a>
        <a href="http://localhost:8000/books/view">ViewBooks</a>
        <a href="http://localhost:8000/books/insert">AddBook</a>
        <a href="http://localhost:8000/books/search">SearchBook</a>
        <a href="http://localhost:8000/books/userlogout">Logout</a>
      </div>
    </div>

    <div id="content">
      <div id="heading" class="pt-3">
        <h1 class="display-4">Books Record Management</h1>
        <h4>Add new Record</h4>
      <div>
    </div>
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <form id="" action="http://localhost:8000/books/save/" method="post" class="form-group">
            {% csrf_token %}
            <table class="table table-bordered" style="border: 1px solid white;">
              {% for fm in form_var %}
              <tr><td>{{fm.label_tag}}</td><td>{{fm}}</td></tr>
              {% endfor %}
            </table>
            <input type="submit" value="Save" class="btn btn-success">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
